* {
  margin: 0;
  padding: 0;
}

body {
  --bg-color: #fff;
  --color-text: #000;
  background-color: var(--bg-color);
  color: var(--color-text);
}

#tema {
  font-size: 15px;
  padding: 2px;
  background-color: var(--color-text);
  color: var(--bg-color);
  position: absolute;
  right: 80px;
}
@media screen and (max-width: 1520px) {
  #tema {
    top: 5px;
  }
}
@media screen and (max-width: 425px) {
  #tema {
    right: 10px;
    font-size: 10px;
  }
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 0;
}
@media screen and (max-width: 760px) {
  .container {
    gap: 10px;
  }
}

.title {
  margin-top: 20px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}
@media screen and (max-width: 760px) {
  .title {
    margin-top: 90px;
  }
}

.form-label {
  font-size: 15px;
}

.jogador {
  font-size: 20px;
  margin-top: -90px;
  border: none;
  color: var(--color-text);
  background-color: var(--bg-color);
}
@media screen and (max-width: 1300px) {
  .jogador {
    margin-top: 30px;
  }
}
@media screen and (max-width: 930px) {
  .jogador {
    margin-left: 30px;
  }
}
@media screen and (max-width: 860px) {
  .jogador {
    margin-left: 60px;
  }
}

.jogo {
  width: 900px;
  margin-bottom: 90px;
  margin-top: 10px;
  display: none;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "item-1 item-2 item-3", "item-4 item-5 item-6", "item-7 item-8 item-9";
}
@media screen and (max-width: 1380px) {
  .jogo {
    margin-top: 50px;
    width: 750px;
  }
}
@media screen and (max-width: 920px) {
  .jogo {
    width: 650px;
  }
}
@media screen and (max-width: 768px) {
  .jogo {
    margin-top: 80px;
    width: 600px;
  }
}
@media screen and (max-width: 609px) {
  .jogo {
    width: 500px;
  }
}
@media screen and (max-width: 500px) {
  .jogo {
    width: 400px;
  }
}
@media screen and (max-width: 425px) {
  .jogo {
    margin-top: 60px;
    width: 350px;
  }
}

.btnPlay {
  height: 250px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--bg-color);
  color: var(--color-text);
  font-size: 80px;
}
@media screen and (max-width: 1380px) {
  .btnPlay {
    height: 225px;
    font-size: 70px;
  }
}
@media screen and (max-width: 920px) {
  .btnPlay {
    height: 200px;
    font-size: 60px;
  }
}
@media screen and (max-width: 768px) {
  .btnPlay {
    height: 150px;
    font-size: 50px;
  }
}
@media screen and (max-width: 500px) {
  .btnPlay {
    height: 120px;
  }
}
@media screen and (max-width: 425px) {
  .btnPlay {
    height: 100px;
    font-size: 40px;
  }
}

.inputJogo {
  width: 90px;
  text-align: center;
  border: none;
  background-color: var(--bg-color);
  color: var(--color-text);
}
@media screen and (max-width: 768px) {
  .inputJogo {
    width: 50px;
  }
}

.item-1 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-2 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-3 {
  border-bottom: 6px solid var(--color-text);
}

.item-4 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-5 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-6 {
  border-bottom: 6px solid var(--color-text);
}

.item-7 {
  border-right: 6px solid var(--color-text);
}

.item-8 {
  border-right: 6px solid var(--color-text);
}

.restart {
  font-size: 15px;
  position: absolute;
  left: 50px;
  padding: 3px;
}
@media screen and (max-width: 1440px) {
  .restart {
    top: 10px;
  }
}

/*# sourceMappingURL=style.css.map */
