* {
  margin: 0;
  padding: 0;
}

body {
  --bg-color: #fff;
  --color-text: #000;
  background-color: var(--bg-color);
  color: var(--color-text);
}

#tema {
  font-size: 15px;
  padding: 2px;
  background-color: var(--color-text);
  color: var(--bg-color);
  position: absolute;
  right: 80px;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  font-size: 0;
}

.title {
  margin-top: 50px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.form-label {
  font-size: 15px;
}

.jogador {
  font-size: 20px;
  border: none;
  color: var(--color-text);
  background-color: var(--bg-color);
}

.jogo {
  width: 900px;
  margin-bottom: 90px;
  margin-top: 10px;
  display: grid;
  grid-template-columns: 33% 33% 33%;
  grid-auto-rows: minmax(100px, auto);
  grid-template-areas: "item-1 item-2 item-3", "item-4 item-5 item-6",
    "item-7 item-8 item-9";
}

.btnPlay {
  height: 250px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: var(--bg-color);
  color: var(--color-text);
  font-size: 80px;
}

.input-jogo {
  width: 90px;
  text-align: center;
  border: none;
  background-color: var(--bg-color);
  color: var(--color-text);
}

.item-1 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-2 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-3 {
  border-bottom: 6px solid var(--color-text);
}

.item-4 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-5 {
  border-right: 6px solid var(--color-text);
  border-bottom: 6px solid var(--color-text);
}

.item-6 {
  border-bottom: 6px solid var(--color-text);
}

.item-7 {
  border-right: 6px solid var(--color-text);
}

.item-8 {
  border-right: 6px solid var(--color-text);
}
